<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <title></title>
</head>

<body class="diff-color">
  <div class='container'>
     <div class='row'>
       <div class='column'>
     <img src="/images/logo.png" alt='default logo' height=50 width=50>  </img>
       </div>
         <div class='column'>
     <h1>Weather Zone</h1>
     </div>
   </div>
  <h1>Today's date is <%=kindOfDay%> 2020</h1>
  <!-- probably can delete -->
  <div class="box" id="heading">

  </div>
  <!-- use the for loop to iterater through and add to list -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
  <div class="box">

    <%for(i=0;i<newListItem.length;i++){%>
    <div class="item">

      <h1><%=newListItem[i]%></h1>
    </div>
    <%}%>
    <br>
    <h1>4 Day Forecast</h1>


    <!-- var dayForeCast={
      temperature:weatherData.list[i].main.temp,
      description:weatherData.list[i].weather[0].main,
      date:weatherData.list[i].dt_txt

    } -->


  <!-- <div class="jumbotron jumbotron-fluid bg-primary"> -->
  <!-- try and change this to a for loop to reduce the total lines of code -->
  <!-- </div> -->
  <div class="container">
  <div class="row">
    <div class="col-sm">
  <div style="width: 15rem;">
  <div class="card-body">
    <!-- change name of testing to proper variable name -->
    <h5 class="card-title"><%= Math.floor(testing[0].temperature)%>째</h5>
    <!-- added images -->
    <img src="<%=imge[0]%>" alt="icon"></img>
    <p class="card-text"><%= testing[0].description%></p>
    <a href="#" class="btn btn-primary"><%= testing[0].date%></a>
  </div>
    </div>
  </div>
  <div class="col-sm">
  <div style="width: 15rem;">
  <div class="card-body">
  <h5 class="card-title"><%= Math.floor(testing[1].temperature)%>째</h5>
  <img src="<%=imge[1]%>" alt="icon"></img>
  <p class="card-text"><%= testing[1].description %></p>
  <a href="#" class="btn btn-primary"><%=testing[1].date%></a>
  </div>
  </div>
  </div>
  <div class="col-sm">
  <div style="width: 15rem;">
  <div class="card-body">

  <h5 class="card-title"><%= Math.floor(testing[2].temperature)%>째</h5>
  <img src="<%=imge[2]%>" alt="icon"></img>
  <p class="card-text"><%= testing[2].description %></p>
  <a href="#" class="btn btn-primary"><%= testing[2].date %></a>

  </div>
  </div>
  </div>
  <div class="col-sm">
  <div style="width: 15rem;">
  <div class="card-body">
  <h5 class="card-title"><%= Math.floor(testing[3].temperature)%>째</h5>
  <img src="<%=imge[3]%>" alt="icon"></img>
  <p class="card-text"><%= testing[3].description %></p>
  <a href="#" class="btn btn-primary"><%= testing[3].date%></a>
  </div>
  </div>
  </div>

  </div>
  </div>  </body>
</html>
