<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title></title>
</head>


<body class="diff-color">

  <%- include("header") -%>

    <div class="box">



      <div class="container">
        <form class="item" action="/" method="post">
          <!-- whenever using input the name is used to access the value -->
          <!-- search bar for country -->
          <div class="row">
            <div class="col-4">

              <input class="borderno diff-color" type="text" name="newItem" placeholder="Search Location" style=font-color:white>


              <button type="submit" name="button">Search</button>
              <label for="celsius">C</label>
              <input type="radio" name='deg' value='metric' placeholder="" checked>
              <label for="farenheit">F</label>
              <input type="radio" name='deg' value='imperial' placeholder="">


            </div>

          </div>


        </form>
      </div>
      <div class="container">
        <div class='row'>

          <div class="col-6">
            <h1 class="display-4"><%= Math.round(currForecast.temperature)%>°<img src="<%=weatherIcon%>" alt="icon"></img></h1>
            <h6>FEELS LIKE <%=Math.round(currForecast.feels_like)%>°</h6>

          </div>
          <div class="col-6">
             <!-- location -->
            <h1><%=currForecast.location%></h1>
            <h3><%=currForecast.description%></h3>
            <h3>Wind Speed:<%=currForecast.wspeed%>km/h</h3>
            <h3>Humidity:<%=currForecast.humidity%>%</h3>
          </div>
        </div>
      </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
